{{- $name := . -}}
{{- $className := $name | urlize -}}
{{- $svg := resources.Get (print "icons/" $name ".svg") -}}
{{- $png := resources.Get (print "icons/" $name ".png") -}}
{{- if $svg -}}
  <span class="relative block icon icon--{{ $className }}">
    {{- $svg.Content | safeHTML -}}
  </span>
{{- else if $png -}}
  <span class="relative block icon icon--{{ $className }}">
    <img
      class="icon__image"
      src="{{ $png.RelPermalink }}"
      alt=""
      loading="lazy"
      decoding="async">
  </span>
{{- end -}}
